html
{
    scroll-behavior: smooth;
    width: 100% !important;
    height: 100% !important;
}

.transition-anim
{
    transition: all 0.3s ease-in-out !important;
}

.welcome-button:hover
{
    color: rgb(240, 240, 240) !important;
    transition: all 0.3s ease-in-out !important;
}

.overlay-element 
{
    position: absolute;
    transform: translate(50%, 0%);
    z-index: 1;
    left: 50%;
    margin-left: -5rem;
}

.hamburger-btn:hover
{
    transition: all 0.3s ease-in-out !important;
    background-color: rgb(200, 200, 200) !important;
}

.sidebar-btn:hover
{
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
    background-color: rgb(228, 228, 228) !important;
}

.note-card
{
    transition: all 0.2s ease-in-out !important;
}

.note-card:hover
{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.custom-shadow
{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.note-button-hover
{
    opacity: 20%;
    transition: all 0.3s ease-in-out !important;
}

.note-button-hover:hover
{
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(228, 228, 228) !important;
    opacity: 80%;
}

.round
{
    border-radius: 100%;
}

.add-note
{
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
}

.add-note:hover
{
    transform: scale(1.2);
}

.check-btn
{
    background: url('/public/assets/icon/check.svg') !important;
}

.color-btn
{
    cursor: pointer;
    width: 50px; 
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.color-picker
{
    cursor: pointer;
    width: 40px; 
    height: 40px;
    border: solid 1px rgb(100, 100, 100);
}

.color-btn:hover
{
    background-color: rgb(200, 200, 200);
}