html
{
    scroll-behavior: smooth;
    width: 100% !important;
    height: 100% !important;
} 

.welcome-button
{
    transition: 0.3s ease-in-out !important;
}

.welcome-button:hover
{
    color: rgb(240, 240, 240) !important;
}

.overlay-element 
{
    position: absolute;
    transform: translate(50%, 0%);
    z-index: 1;
    left: 50%;
    margin-left: -5rem;
}
